.about-section {
  padding: 3rem 0;
  padding-top: 1rem; /* セクションタイトルのためのパディング調整 */
}

.name-meaning {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.name-item {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.name-title {
  color: var(--brand-color);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.name-description {
  line-height: 1.8;
}

.philosophy {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  margin-top: 1rem;
}

.philosophy-text {
  line-height: 2;
  text-align: center;
  font-weight: 300;
}

.representative {
  margin-top: 1rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  text-align: center;
}

.representative-flex {
  display: flex;
  align-items: center;
  gap: 32px;
}

.representative-photo {
  width: 160px;
  border-radius: 8px;
  margin-bottom: 0;
  object-fit: cover;
}

@media (max-width: 600px) {
  .representative-photo {
    width: 100px;
  }
}

.representative-name {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: left;
}

@media (max-width: 600px) {
  .representative-name {
    font-size: 1.2rem;
  }
}

.representative-name-yomi {
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  .representative-name-yomi {
    font-size: 0.7rem;
  }
}
.representative-text {
  font-size: 1rem;
  text-align: left;
  line-height: 1.6;
  margin-top: 0.2rem;
}

@media (max-width: 600px) {
  .representative-text {
    font-size: 0.8rem;
  }
}